* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-background);
    height: 100%;
}
/* Header Section */
.header_section {
    background-color: var(--bg-color-backgroundheadfeed);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 140px;
}

.header_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img > img {
    width: 215px;
    height: 41px;
}


/* Main Section */
.main_section {
    height: 100vh;
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-backgroundheadfeed);
    height: 128px;
    width: 100%;
    border-radius: 40% 40% 0% 0%;
}

.footer_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 225px;
}

.img_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

