* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
    margin: 0;
    
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Header Section */
.header_section {
    background-color: var(--bg-color-backgroundheadfeed);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 140px;
}

.header_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img > img {
    width: 215px;
    height: 41px;
}


/* Main Section */


.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 120px;
    padding: 80px 40px;
    /* height: 100vh; */
    flex-grow: 1;
}

.main_headline > h1 {
    font-family: 'Figtree';
    font-size: 56px;
    color: var(--bg-color-text);
    line-height: 100%;
    letter-spacing: 0%;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree';
    padding-top: 20px;
    font-size: 48px;
    color: var(--bg-color-text);
    line-height: 100%;
    letter-spacing: 0%;
}

#main_img_section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1580px;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
    
}

#main_img_section_secound {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1580px;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
}

.img_for_main > button > img {
    width: 230px;
    height:250px;
    object-fit: cover;
    border-radius: 16px;
    border: none;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img_for_main > button > img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px var(--bg-color-text);
}

.img_for_main > button {
    background-color: var(--bg-color-background);
    border: none;
    cursor: pointer;
}

.img_for_main_secound > button > img {
    width: 230px;
    height:250px;
    object-fit: cover;
    border-radius: 16px;
    border: none;
    display: block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img_for_main_secound > button > img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px var(--bg-color-text);
}

.img_for_main_secound > button {
    background-color: var(--bg-color-background);
    border: none;
    cursor: pointer;
}

dialog {
    background-color: var(--bg-color-background);
    width: 800px;
    height: 800px;
    padding: 36px 64px 56px 64px;
    gap: 48px;
    border-radius: 40px;
    
}

dialog.opened {
    border: 5px solid var(--bg-color-background);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

dialog::backdrop {
    background-color: var(--bg-color-backgroundheadfeed);
    opacity: 0.5;
}

dialog.opened::backdrop {
    background-color: var(--bg-color-backgroundheadfeed);
    
}

.dialogTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 100%;
}

.dialogTop > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--bg-color-text);
    width: 48px;
    height: 48px;
    font-size: 48px;
    font-family: 'Figtree';
}

.dialogTop > button:hover {
    background-color: var(--bg-color-border);
    border-radius: 50%;
}

.dialogTop > p {
    color: var(--bg-color-text);
    font-size: 36px;
    font-weight: 700;
    font-family: 'Figtree';
    letter-spacing: 0%;
    line-height: 100%;
    padding-top: 0px;
}

dialog > img {
    width: 550px;
    height: 450px;
    object-fit: cover;
    border-radius: 0px;
    display: block;
    
}

.dialogBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 320px;                        
    gap: 20px;
    border-radius: 40px;
    padding: 16px 20px;
    
}

.dialogBottom > p {
    color: var(--bg-color-text);
    font-family: 'Figtree';
    font-size: 24px;
    font-weight: 600;
    min-width: 40px;
    text-align: center;
}

.dialogBottom > button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: var(--bg-color-bgbutton);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialogBottom > button:hover {
    background-color: var(--bg-color-bgbuttonHover);
}

/* Footer Section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-backgroundheadfeed);
    height: 128px;
    width: 100%;
    clip-path: ellipse(90% 100% at 50% 100%);
}

.footer_section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.img_section > img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.img_section > p {
    font-family: 'Figtree';
    color: var(--bg-color-footertext);
    line-height: 100%;
    letter-spacing: 0%;
    size: 16px;
}

@media screen and (min-width: 1440px){
    .header_section {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
    }
}

@media screen and (max-width: 768px) {
    .header_section {
        padding: 24px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main_section {
        padding: 48px 16px;
        gap: 36px;
        
    }

    .main_headline {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .main_headline > h1 {
        font-size: 48px;
        text-align: center;
    }

    .main_headline > h2 {
        text-align: center;
        font-size: 42px;
    }

    #main_img_section {
        gap: 12px;
        padding: 0 16px;
        width: 100%;
        flex-direction: column;  
        align-items: center;
    }

    .img_for_main {
        width: 400px;
    }

    .img_for_main > button {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_for_main > button > img {
        width: 400px;        
        height: 350px;
        border-radius: 16px;
        gap: 10px;
    }

     #main_img_section_secound {
        gap: 12px;
        padding: 0 16px;
        width: 100%;
        flex-direction: column;  
        align-items: center;
    }

    .img_for_main_secound {
        width: 400px;
    }

    .img_for_main_secound > button {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_for_main_secound > button > img {
        width: 400px;        
        height: 350px;
        border-radius: 16px;
        gap: 10px;
    }

    dialog {
        width: 90vw;
        height: 500px;
        padding: 24px;
        border-radius: 24px;
    }

    dialog > img {
        width: 350px;
        height: 250px;
    }

    .img_section > img {
        height: 32px;
        padding-top: 10px;
    }

    .footer {
        clip-path: ellipse(120% 100% at 50% 100%);
        margin-top: auto;   
    }
}

@media screen and (max-width: 480px) {
    .header_section {
        padding: 20px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_img > img {
        width: 160px;
        height: auto;
    }

    .main_section {
        padding: 48px 0px;
        gap: 36px;
    }

    .main_headline {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .main_headline > h1 {
        font-size: 40px;
        text-align: center;
    }

    .main_headline > h2 {
        text-align: center;
        font-size: 32px;
    }

    #main_img_section {
        gap: 24px;
        padding: 0 16px;
        width: 100%;
        flex-direction: column;  
        align-items: center;
    }

    .img_for_main {
        width: 250px;
    }

    .img_for_main > button {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_for_main > button > img {
        width: 250px;        
        height: 200px;
        border-radius: 16px;
        gap: 10px;
    }

    #main_img_section_secound {
        gap: 24px;
        padding: 0 16px;
        width: 100%;
        flex-direction: column;  
        align-items: center;
    }

    .img_for_main_secound {
        width: 250px;
    }

    .img_for_main_secound > button {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_for_main_secound > button > img {
        width: 250px;        
        height: 200px;
        border-radius: 16px;
        gap: 10px;
    }

    dialog {
        width: 90vw;
        height: 500px;
        padding: 24px;
        border-radius: 24px;
    }

    dialog > img {
        width: 300px;
        height: 200px;
    }

    .img_section > img {
        height: 32px;
        padding-top: 10px;
    }

    .img_section > img {
        height: 32px;
        padding-top: 10px;
    }

    .footer {
        clip-path: ellipse(120% 100% at 50% 100%);
        margin-top: auto;   
    }
}